[2015-09-25 16:01] ghostop14 opened #1 "ICMPv6 Types Incomplete"
Hi,

I've been doing some work with ICMPv6 packets and I was getting some exceptions handling ICMPv6 packets since not all of the ICMPType values in the RFC were in the ICMPv6Types enumeration.  I've added them as shown below.  I'm sending it along to get it incorporated in the main branch:

[code]
# pragma warning disable 1591

[code]
# pragma warning restore 1591

[code]

[2015-10-22 16:12] nmiglio opened #3 "Unable to print LLDP packet details"
When using ToString(Verbose) with an LLDP packet for some TLVs the value is not printed (there is instead the string `System.Byte[]`).
This is the output I have when reading a packet:

[code]

[2015-10-23 09:09] nmiglio commented on #3
I think there is a problem in how the byte array is printed.
For example when in PortID the SupTypeValue is read a byte array is returned. This byte array is passed as it is to string.Format()

[2016-04-19 15:34] UlyssesWu opened #8 "Can not convert a LLDP packet to bytes"
As description in [HERE](http://stackoverflow.com/questions/28048168/sending-an-lldp-packet-using-sharppcap-and-packet-net), when constructing a LLDP packet and getting bytes by calling `Packet.Bytes`, we will get a NullReferenceException (see the stackoverflow page for details).

And there is a workaround in that page:

[code]

After "reparsing" we can get the bytes. I think this may be a bug. [a

[2016-07-08 23:31] chmorgan commented on #1
Could you send a pull request with the intended changes? I can't really see what you are proposing to change here.

[2016-07-08 23:42] chmorgan commented on #3
Yep, I'm guessing there is an issue with printing there. Pull requests welcome :-)

[2016-12-23 07:48] shargon opened #15 "IPortPacket"
Could be usefull a IPortPacket interface for TcpPacket and UdpPacket

[code]

or add it to TransportPacket

[2017-02-11 16:17] chmorgan commented on #15
Are there any other packets that are port packets? I see the idea but I'd like to be strict about not layering types if it isn't a natural thing that people associate between those types and if it only saves a few lines of code on the users side.

[2017-02-11 16:19] chmorgan commented on #8
Hello. If you had a .pcap file with the least number of packets required to reproduce the issue I could use that to create a unit test and fix this issue.

[2017-02-11 16:42] chmorgan commented on #3
closing this out as the pr was opened but wasn't ready to be merged and seems quiet now.

[2017-02-11 16:42] #3 closed

[2017-02-11 16:42] #1 closed

[2017-02-14 06:21] UlyssesWu commented on #8
You may add a test at `LldpTest.cs` like this:

        [Test]
        public void AsPayloadTest()
        {
            PhysicalAddress NDP_MULTICAST =
           new PhysicalAddress(new byte[] { 0x01, 0x23, 0x20, 0x00, 0x00, 0x01 });
            LLDPPacket lldpPacket = new LLDPPacket();
            lldpPacket.TlvCollection.Add(new ChassisID(NDP_MULTICAST));
            lldpPacket.TlvCollection.A

[2017-04-17 11:18] Wootness commented on #15
There are ports in the SCTP protocol, which is also a transport layer protocol.

[2017-04-28 15:24] russianbullet opened #18 "IndexOutOfRangeException when parse packet"
Hello dear @chmorgan

When I'm parsing the following packet I get this error :

[code]
**An unhandled exception of type 'System.IndexOutOfRangeException' occurred in PacketDotNet.dll
Additional information: Index was outside the bounds of the array.**

[2017-04-28 17:56] russianbullet commented on #18
Sorry, the packetdotnet was old, i recompiled the new sourcecode and now it's working

[2017-05-28 01:58] raspi opened #19 "NuGet package"
Could you please publish latest release as NuGet package?

[2017-05-29 00:25] chmorgan commented on #19
Hello.

I'd like to. I'm working on it but someone is using the SharpPcap and PacketDotNet IDs on Nuget. I've reached out to the guy using those ID values but the policy is to wait 30 days before they take any action and it hasn't been 30 days yet, it will be in another week or so and I'll reach back out to the nuget guys about it.

Chris

[2017-06-19 21:13] termhn commented on #19
Any update on this? :P

[2017-06-20 00:44] chmorgan commented on #19
Yep. Discussing it with someone that put together the packages on Nuget. Hope to have some updated packages in the next few weeks.

[2017-06-20 15:36] UlyssesWu opened #20 "How to construct packets (like ICMPv4Packet)"
How to construct a valid ICMPv4Packet using PacketDotNet?

Currently I can only use `PcapDotNet.Packets` to construct these packets.

[2017-06-20 18:50] chmorgan commented on #20
Hello.

If you know what an ICMPv4Packet looks like you can apply the same approach as here: https://github.com/chmorgan/packetnet/blob/master/Examples/ConstructingPackets/Main.cs

I think ICMPv4 is an EthernetPacket that contains an IPv4 packet that contains an ICMP packet. (I'm using packet when I probably should use datagram though).

Can you try the same approach as in that Main.cs file and le

[2017-06-29 22:13] stricq commented on #18
I still get this exception with the Nuget version.  It only happens on TCPv6 packets. Version 0.13.0

Will you be updating the Nuget package?

   at PacketDotNet.TcpPacket.get_DataOffset()
   at PacketDotNet.TcpPacket..ctor(ByteArraySegment bas)
   at PacketDotNet.TcpPacket..ctor(ByteArraySegment bas, Packet ParentPacket)
   at PacketDotNet.IpPacket.ParseEncapsulatedBytes(ByteArraySegment payload,

[2017-07-08 00:36] chmorgan commented on #19
@termhn I'm stuck on the nuget packages. nuget can't pack on Linux and I don't have a Windows license.

[2017-07-09 01:10] chmorgan commented on #19
@raspi packages pushed!

[2017-07-09 01:10] #19 closed

[2017-07-09 08:53] raspi opened #21 "Target older .NET framework by default"
Current solution [targets .NET framework 4.6.1](https://github.com/chmorgan/packetnet/blob/cabc30be3f0af873f20a195a2effc1371a49eec9/PacketDotNet/PacketDotNet.csproj#L9). Windows Server 2012 R2 and 8.1 [was shipped with 4.5.1](https://en.wikipedia.org/wiki/.NET_Framework_version_history) and is still widely used and no newer version might be available because of policies.

Could 4.5.1 be the defaul

[2017-07-09 20:22] chmorgan commented on #21
@raspi It looks like 4.5.2 is still supported but 4.5.1 is end-of-life, https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/

what about moving to 4.5.2 instead?

[2017-07-09 22:30] raspi commented on #21
R2 is supported until 2023 - https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%20Server%202012%20R2%20Standard . Older NuGet version was using .NET fw 3.5 and sharppcap used that also. For the best backwards compatibility as old as possible .NET fw target should be used. Another way could be to release multiple targets like [SQLite does as an example](https://system.data.sqlite.or

[2017-07-09 22:36] chmorgan commented on #21
@raspi I think we are talking about two different things. Yes, Windows Server 2012 R2 is supported until 2023, but only .net 4.5.2 is currently supported, not 4.5.1. See https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20.NET%20Framework%204.5.1

[2017-07-09 22:49] raspi commented on #21
Yes the .NET fw 4.5.1 might be deprecated (for only ~7 months now) but it doesn't mean that people are running newer version if they're using R2 for example. A lot of people are running .NET fw which was shipped with the OS ie. 4.5.1 in R2 and 8.1.

My use case is OSS LLDP agent which adds LLDP support for older Windows versions so that network and sysadmins jobs are made easier who are still runn

[2017-07-10 01:36] chmorgan commented on #21
@raspi ahh ok. If it's forwards compatible then I have no problem rebuilding for 4.5.1. Let me check that doing so will work ok here under mono and I can push out a new set of versions sometime in the near future.

[2017-07-11 01:07] chmorgan commented on #21
@raspi I've updated the .net target version to 4.5.1. Would you mind testing out the 'net_4_5_1' branch or would it make sense for me to send you .nupack files? I'd like it to be tested prior to bumping versions and releasing new packages etc.

[2017-07-11 13:31] raspi commented on #21
I was able to compile both packetnet and sharppcap in VS 2017 CE. There were no build or runtime errors with net_4_5_1 branch and my program.

[2017-07-11 18:56] chmorgan commented on #21
@raspi published new nuget versions of sharppcap and packetdotnet that target 4.5.1

[2017-07-12 01:46] #21 closed

[2017-08-07 06:30] Heshyo opened #23 "PayloadData instead of PayloadPacket"
I parse a packet by doing with `Packet.ParsePacket(LinkLayers.Ieee80211_Radio, buffer)`, which gives me a `RadioPacket`.

That `RadioPacket.PayloadPacket` contains a `QosDataFrame` which itself contains some `PayloadData`, but no `PayloadPacket`.

In Wireshark I still see `Logical-Link Control`, then `IPv4`, then `TCP`, then finally some payload data (see [OnePacket.zip](https://github.com/chmorga

[2017-08-07 12:39] chmorgan commented on #23
Hello.

Have you looked to see if there are any tests for radio packets? It may be that this isn't supported. In any case, if you can send me a .pcap file with a few of these packets I can write a unit test to parse them.

chmorgan@gmail.com is my direct email address.

Chris

[2017-08-08 12:26] Heshyo commented on #23
Hi Chris,

There's indeed a RadioPacketTest that uses 80211_plus_radiotap_header.pcap

In my case the RadioPacket is correctly parsed, and it correctly contains a
PayloadPacket.

That PayloadPacket is a QosDataFrame (there's also a test for it:
QosDataFrameTest that uses 80211_qos_data_frame.pcap), but this
QosDataFrame only contains a PayloadData, while I feel it should contain a
PayloadPacket of

[2017-08-18 18:27] chmorgan commented on #23
Yep, Logical-Link control isn't implemented at this point so there was no decoding of the data inside of those data frames. Let me try to put something together to parse that. Fortunately the rest of the parsing code is present so once the LLC is parsed I think you'll get a fully decoded packet.

[2017-08-18 19:09] chmorgan commented on #15
I think I'd have to see how this might simplify the code before considering how we might integrate a change like this. While I see some gain it isn't immediately obvious how this would clarify or improve the code so I'd have to see that before merging it in. I'm going to close this out for now but if you have another comment we can reopen this to continue discussion.

[2017-08-18 19:09] #15 closed

[2017-08-19 01:53] chmorgan commented on #23
@Heshyo can you test out the qosdata branch and let me know if that resolves the issue for you?

[2017-08-22 02:59] Heshyo commented on #23
Thanks Chris. I haven't extensively tested it, but it seems to be working pretty well with my current test file, thanks a lot!

[2017-08-22 02:59] #23 closed

[2017-09-22 12:55] AndrewDi opened #27 "linktype_null_capture packet format error"
Dear Chmorgan:
    Test will fail if linktype_null_capture packet is in pcapng format, I try to convert it to pcap format using wireshark, and error will fix.

[2017-10-12 11:50] singularity0821 opened #28 "Support the PROFINET Protocol as EtherType"
Would it be possible to support the PROFINET protocol as a valid EtherType?

This would be ```0x8892``` PROFINET Protocol.

[2017-10-12 12:53] chmorgan commented on #28
Do you mean simply adding that entry to the list of EtherTypes or adding proper decoding for profinet?

[2017-10-12 13:15] singularity0821 commented on #28
I mean simply adding it to the list of EtherTypes.

[2017-10-13 20:01] chmorgan commented on #28
Change pushed to master.

[2017-10-13 20:01] #28 closed

[2017-10-19 09:06] #27 closed

[2017-10-19 09:27] AndrewDi opened #29 "Large TCP Packet will sperate into mutli packages"
Do packetnet have plan to support automatic combine this MTU split packet into finally one large packet,so that I can decode it more easily.

[2018-03-17 20:57] kayoub5 opened #50 "Do Not check enums"
I noticed while going through the code of packetnet the following pattern:
[code]
The statement `throw new System.NotImplementedException(...);` is a big GOTCHA, for most developers
and [according to SonarQube, a CodeSmell](https://rules.sonarsource.com/csharp/RSPEC-2372)

Thinking about this backwards, the line `return (ICMPv4TypeCodes)val;` [actually never fails](https://stackoverflow.com/questi

[2018-03-18 20:44] chmorgan commented on #50
Hi @kayoub5. This makes sense. Mind submitting a PR to simplify the code in the way you suggested?

[2018-03-18 22:42] kayoub5 commented on #50
@chmorgan done.

[2018-03-19 01:27] #50 closed

[2018-03-23 08:54] Pedestrian22 opened #53 "Problem with .Net Core package, Ubuntu 14.04"
I would like to ask you if somebody knows how to help with this problem. I cannot run my project in Ubuntu 14.04. There is missed package "**PacketDotNet**" and I need to run it in **.Net Core** project.
Thanks for any idea and help.

![screen1](https://user-images.githubusercontent.com/37690531/37820157-17da39fa-2e80-11e8-8407-e36a81e23a2a.png)

[2018-03-23 19:49] chmorgan commented on #53
Hello!

Have you put a sharppcap.dll.config in place that maps wpcap to libpcap?
You'll want to do that and ensure that the libpcap name matches on that
exists on your system, sometimes its libpcap.so, othertimes libpcap.so.0.19
or whatever. I haven't found a solid way to do that across debian/ubuntu
and fedora as one has a symlink to the shorter name and the other doesn't.

On Fri, Mar 23, 2018 a

[2018-03-24 21:31] Pedestrian22 commented on #53
So, after this action, should it work? I mean, is it even possible to run .Net Core with PacketDotNet/SharpPcap on Ubuntu 14.04?

[2018-03-24 22:09] chmorgan commented on #53
I’m not sure on 14.04 but I’ve installed dotnet from Microsoft on fedora 27
and run .net core apps there.

On Sat, Mar 24, 2018 at 5:31 PM Pedestrian22 <notifications@github.com>
wrote:

[2018-04-05 18:58] pluskal opened #54 "[Suggestion] Span<T> and Memory<T> to improve performance instead of ByteArraySegment"
Hi Chris,

I come across  [Span<T> and Memory<T>](https://blogs.msdn.microsoft.com/mazhou/2018/03/25/c-7-series-part-10-spant-and-universal-memory-management/) recently and realized that it may greatly improve performance instead of ByteArraySegment. Without further needs for allocation of new memory and copying parts of payload.

What are your thoughts?

[2018-04-06 01:35] chmorgan commented on #54
Hi @pluskal.

I took a look at that writeup and it looks like it could help, I just don't understand it well enough to know how to make use of it or if it will really help. ByteArraySegment is being pretty smart though, the entire approach there is to avoid copying or allocating memory, so creating a new slice, a new ByteArraySegment, from an old one won't involve a memory copy.

There are some be

[2018-04-11 01:40] chmorgan opened #56 "appveyor isn't publishing nuget packages"
Versions have been bumped up but nuget packages aren't being pushed. @haufes any ideas?

[2018-04-11 02:50] haufes commented on #56
Sorry, I haven't done that before.

________________________________
From: Chris Morgan <notifications@github.com>
Sent: April 10, 2018 9:40 PM
To: chmorgan/packetnet
Cc: Steven Haufe; Mention
Subject: [chmorgan/packetnet] appveyor isn't publishing nuget packages (#56)

Versions have been bumped up but nuget packages aren't being pushed. @haufes<https://github.com/haufes> any ideas?

—
You are rec

[2018-04-12 13:27] haufes opened #57 "Raw link layer is 101 not 12"
During some testing I found that the parse wasn't able to handle the the raw link layer  (101)

In LinkLayers.cs it's set to 12.

Here is the list of linktypes
http://www.tcpdump.org/linktypes.html

I actually have the fixed it locally and have it working with pcap that I feed it, but I can't submit it because 2 of the test that read are expecting a LinkLayer of 12.  That is being returned from Sh

[2018-04-13 12:27] haufes commented on #56
I just noticed that my appveyor build is still producing the file with a 16.1 number. Is your's too?

[2018-04-13 15:55] chmorgan commented on #53
Hi @Pedestrian22.

I've updated packetdotnet to build against .net standard 2.0. I think you'll still see an issue unless you run under mono due to the necessary library mapping. I'm looking to make it more compatible with dotnet but it would require runtime library loading and mapping and I'm not sure what the performance impact is of that approach or how much work it could be.

[2018-04-13 15:56] #20 closed

[2018-04-29 10:16] Phyxion commented on #54
It's much faster than the current ByteArraySegment. It's very noticable if you need to recalculate checksums because ActualBytes is copying all data, whereas Span/Memory is simply using the same data.
Packet parsing is also much faster if you use Memory<byte>. My very basic converted ByteArraySegment (which just uses Memory<byte> as structure beneath) already saves ~35-50% CPU usage.

To get all a

[2018-04-29 12:00] chmorgan commented on #54
Hi Phyxion.

Planning to push a pr with the changes?

On Sun, Apr 29, 2018 at 6:16 AM Phyxion <notifications@github.com> wrote:

[2018-04-29 12:38] Phyxion commented on #54
Yes, I'll make a PR with the Lazy changes.

The Memory<byte> needs much more work and some research (it's too simple how I made it, e.g., only read and nothing is checked). I'm also not that familiar with the code and how it would work with increasing the size of the payload data and its affect on 'parent' data. Although I'm not entirely sure if that works fine right now?

[2018-04-29 20:06] chmorgan commented on #54
@Phyxion resizing can be difficult depending on where in the datagram you are changing the size. At this point resizing in the middle of the datagram isn't supported in many cases. It's a manual process for the end user.

How are you measuring the performance improvements? With the built-in unit tests?

Looking at the Lazy changes now.

[2018-05-01 08:25] Phyxion opened #59 "Suggested ReSharper fixes"
- [x] Parameter renaming, many function parameters are named with a Capital, this makes it hard to distinguish them from properties and fields.
- [x] Remove unneccessary `this`.
- [x] Replace declarations with `var` where applicable.
- [x] Use collection initializers.
- [x] Simply type names, e.g., `System.Type` can be just `Type`.
- [x] Remove redundant `else`.
- [x] Remove empty constructors
- [

[2018-05-01 09:43] Phyxion commented on #59
Pinging @chmorgan, if you have any feedback on this, feel free to comment here. I'll be adding suggested fixes in the first post as I find them.

[2018-05-01 13:07] chmorgan commented on #59
Can you clarify what would change with Parameter renaming? Is it the .net recommendations of camelCase? https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-parameters

[2018-05-01 13:09] Phyxion commented on #59
Currently a lot of parameters are named like this:
SomeMethod(Int32 **N**umber, UInt16 **A**notherName)
Which should be:
SomeMethod(Int32 **n**umber, Uint16 **a**notherName).

[2018-05-01 13:10] chmorgan commented on #59
@Phyxion ahh ok, so good then. These all look like solid cleanup changes.

[2018-05-01 13:12] Phyxion commented on #59
How would you receive the changes? In one go or per point? I'm not sure how well ReSharper manages with one change though as it likes to do other changes as well (along with what you changed, such as formatting changes).

[2018-05-01 13:14] chmorgan commented on #59
If it's easy to run with all of these changes enabled and submit a PR we can look at the total number of lines changed. In one go probably makes sense as long as there are no significant functional changes. Fortunately we do have the unit tests in place and AppVeyor that helps to ensure nothing is broken.

[2018-05-10 07:11] Anandir opened #60 "DNS dissect support."
Hi,
there are plans to support the dissection of the DNS protocol packets?

Thanks in advance!

[2018-05-10 16:12] Phyxion commented on #54
@chmorgan I have also improved (update) checksum calculation speed (it's 50% faster) with ByteArraySegment. Once you merge the lazy PR I'll submit it as well.

[2018-05-10 16:43] chmorgan commented on #54
I’ll get back to that pr soon. Life tends to slow things down a bit
sometimes!

On Thu, May 10, 2018 at 12:12 PM Phyxion <notifications@github.com> wrote:

[2018-05-14 11:07] Anandir opened #62 "Fancy bug."
Hi, I've found a fancy bug during some tests over a PCAP file.
During the PCAP file parsing I've got an error over this line of code:
`IPv4Packet innerIpPacket = new IPv4Packet(new PacketDotNet.Utils.ByteArraySegment(icmpPacket.PayloadData));`

I've spent a bit of time to understand why I've got this error. The only thing I've found it's a somekind of mismatch between the actual size of the IP pac

[2018-05-14 13:01] Phyxion commented on #62
I think that packet in the pcap file is wrong, the TCP of that packet checksum is also incorrect.

[2018-05-14 13:13] Anandir commented on #62
@Phyxion that's my suspect too, but I also think that it's something that can be addressed directly within the packet dissector inside the library.
At the end of the day Wireshark parse it without many problems.
Am I wrong?
I say so in terms of having a more resilient library. The problem can reside in the PCAP or in TCP/IP stack implementation within one of the appliance in of the test or because

[2018-06-07 12:20] #59 closed

[2018-06-07 16:10] patrious opened #65 "Teredo Support"
I am trying to parse out packets from a IPv4 UDP stream that I know in their payloads have IPv6 TCP data. They are being encapsulated using the Teredo protocol. [https://tools.ietf.org/html/rfc4380](https://tools.ietf.org/html/rfc4380)

Can packetnet be able to parse the UDP payload and notice there are embedded packets.

[2018-06-07 16:13] chmorgan commented on #65
Hi Patrick.

It doesn’t parse these streams today but one could imagine a class that
could input udp packets that would be processed, decoded and return the
embedded packets, keeping state to handle segmentation etc.

It would be a welcome addition to the library.

Chris

On Thu, Jun 7, 2018 at 12:10 PM Patrick <notifications@github.com> wrote:

[2018-06-07 17:17] patrious commented on #65
I am not sure what you mean about keeping state and handling segmentation. Can you elaborate? I have slapped something together pretty quickly below.

The below code can seem a little naive as we are trying to randomly parse byte[] data into packets. I can imagine we may "accidently" decode something that isn't truly a proper packet. However looking at the Teredo protocol I don't see a specific fl

[2018-06-25 20:32] Gl0 opened #66 "tcp packets corruption v0.16+"
https://github.com/chmorgan/packetnet/blob/master/PacketDotNet/TcpPacket.cs#L431
causing false positive detection as DRDA packet and corrupt it.

[2018-06-26 11:51] Phyxion commented on #66
There's very little documentation regarding DRDA packets, but I think the current DRDA implementation (which was added in 0.17) is a very limited way of checking if it's actually a DRDA packet (it's not hard to imagine that another packet arrives with 0xD0 on that position). That said, the data shouldn't get corrupted and you can still access the bytes directly of course.

[2018-06-26 12:11] Phyxion commented on #66
I think I've managed to find a fix for this, based on the Wireshark code, I'll submit a PR.

[2018-06-26 12:20] Gl0 commented on #66
I've found it when start missing packets after updating dependencies.
May be I'm using Packet.Net in the wrong way?
'            payload = tcpPacket.PayloadData;'

[2018-07-12 21:07] patrious commented on #18
Have you tested this with the lastest 0.19 version?

[2018-07-13 00:38] chmorgan commented on #18
@stricq I think you may be using someone elses package, this is the official package: https://www.nuget.org/packages/PacketDotNet/

[2018-07-13 01:55] stricq commented on #18
@chmorgan I'm quite certain I'm using your nuget package.  I just updated to the version you just released and I'm still getting the exception.  Here is my line of code:

if (packet.**_Extract_**(typeof(TcpPacket)) is TcpPacket tcpPacket) {

It is the Extract method where the exception happens.
[code]

[2018-08-09 01:13] #29 closed

[2018-08-23 02:09] stricq commented on #18
Here is a Json.net dump of the raw packet data that throws the exception:

{
	"Data": "LE1U5/8QEHtEFu1cht1gCKW3AAAGQCYCAGF6q/UA+JJUvRDZ9sQmB/iwQA8IAQAAAAAAACAO1nUBu7g/3T7xFB0LUBhQ93HaAAAXAwMXxwAAAAAAAAY0dxTF1nXPELAMFwyH1XcqDdrPiGpZvGaLbWdlL/relMvHYtjgx/dfPCkiHXn8euIu/iCHtXk9lxbMIszDj0PY0HphSvrTXbdrHj2TU3CYkXay251Gxa93Kj521sJuzAODQ2efeIz4QER26gHCbrXM1y8oagh5XnUuL9mFZXp7bKD4dS0fPHdn0T2x+4hZvF1XOAE8r

[2018-11-24 04:30] stricq commented on #18
0.19.2 still has the same exception.

[2019-01-08 07:48] Martin2312 opened #87 "attempting to set a negative length"

[2019-01-08 07:56] Martin2312 commented on #87
Hi
I am getting an exception for some captured packets. Exception message is "attempting to set negative length of  -22".

How is the value -22 calculated from captured packet?  Is any solution how to drop this kind of packet to avoid this exception or a solution how to handle this exception?

Thanks for any help

[2019-02-12 01:34] nono3551 commented on #53
Hi,

I am working on small packet sniffer for Linux and Windows. I didn't tested anything on Windows yet. I hope it won't be such painful for me as Linux. For Linux (Ubuntu 18.04) I made this package work in two ways:

I installed libpcap with apt-get install libpcap-dev.

1.
I created .NET Framework 4.6.1 project. Added SharpPcap.dll.config file for mapping wpcap <= libpcap. Run MyProject.exe wit

[2019-03-01 02:14] gigajew opened #90 "EthernetPacket PhysicalAddress"
Love this project. Good job on it. I've got a question regarding physical address section of the ethernet packet. How can this be obtained without using SharpPcap? I saw an example of resolving it but it required this library to do it.

Another question is how can I transform my "ready" ethernetpacket into bytes that will be ready to be sent over a raw socket on windows using c#?

[2019-03-01 02:28] chmorgan commented on #90
Hello!

Well you could look at the source code of the library or wikipedia to find out how to find those address portions of the ethernet packet. It's not too difficult or particularly easy either, that's why this library exists :-)

To convert your packet into a byte[] call the Bytes() function of the top level packet. Keep in mind that you'll have to send this packet via something like SharpPcap

[2019-03-04 15:30] pray4snow2 opened #91 "How can I add another protocol to Ethertype"
Please be kind, I'm new at this....

Can anyone help me through the process of adding another Ethertype? I see that support for Profinet was added back in late 2017, but I need a very similar/related type added, Profinet MRP (PN-MRP), 0x88e3.

What I am not sure of is after I edit the appropriate file, what do I then do to get a new dll to use in my project? I am just not clear on the steps. And c

[2019-03-04 15:38] Phyxion commented on #91
You would need to edit the EthernetPacketType and if you want to read the Profinet packet itself you would need to add code to EthernetPacket and a class for Profinet.
At least VS 2017 is required.

[2019-03-04 15:38] #91 closed

[2019-03-07 14:32] chmorgan commented on #8
Hi @UlyssesWu. I'm closing this out as it has been open for a while now but we appreciate you reporting it. We would love to have a PR to help resolve this issue and add a test for this case, we just haven't had the time to resolve it here.

[2019-03-07 14:32] #8 closed

[2019-03-07 14:33] chmorgan commented on #18
Hi @stricq, closing this out. Please retest with the latest version and reopen if there is still an issue.

[2019-03-07 14:33] #18 closed

[2019-03-07 14:34] chmorgan commented on #53
Hi @nono3551. Please check out the latest sharppcap release. It has much better cross platform support that doesn't require monkeying around with libraries.

[2019-03-07 14:34] #53 closed

[2019-03-07 14:34] chmorgan commented on #60
Hi @Anandir. There is no support currently planned but we would welcome a pull request to implement such functionality!

[2019-03-07 14:34] #60 closed

[2019-03-07 14:36] chmorgan commented on #62
Hi @Anandir. It looks like you've identified an issue with the library. If you would be willing to submit a PR to add a test and a fix that would be great. I'm not sure any of the other developers will have a chance to fix it without your help. Closing this one out as it has been inactive for a while.

[2019-03-07 14:36] #62 closed

[2019-03-07 14:42] chmorgan commented on #65
Hi @patrious. As this hasn't been active for a while I'm closing it out. We would welcome a pull request to add this functionality but would need your help to implement it.

[2019-03-07 14:42] #65 closed

[2019-03-07 14:44] chmorgan commented on #87
Hi @Martin2312. I'm closing this out as it has been open for a while. Please retest with latest version and reopen if the issue remains. We may not have the bandwidth to resolve it though and would very much welcome a pull request to correct the issue.

[2019-03-07 14:44] #87 closed

[2019-03-07 14:47] chmorgan commented on #90
Hi @gigajew. Closing this out. Please reopen if you have a specific question about packet net or usage.

[2019-03-07 14:47] #90 closed

[2019-03-08 09:29] nono3551 commented on #53
Hi @chmorgan. I just checked it out and everything seems to be working fine. Thank you very much.

[2019-03-24 20:52] nono3551 opened #92 "System.ArgumentOutOfRangeException"
Hi, I am getting error when I am trying to get Packet.TotalPacketLength in my app. Could you please look at this? Am I doing something wrong?

Packet which causes this error:

3333000000FBE88D28562B6086DD6000000004D82CFFFE80000000000000EA8D28FFFE562B60FF0200000000000000000000000000FB1100000134A858D314E914E905B04849000084000000001E0000000101320131033136380331393207696E2D61646472046172706100000C8001

[2019-03-25 00:55] nono3551 commented on #92
I was researching this problem for a while and I found that problem might be in method IPv6Packet.CalculateExtensionHeaders(). Lazy loading makes this parts hard to debug but it seems like problem is in determining IPv6ExtensionHeader.PayloadLength.

[2019-04-04 13:31] nono3551 commented on #92
Hi @chmorgan,
I don't have time for fixing this issue right now and in near future. If you want this to be fixed please assign this issue to someone else.

Thank you

[2019-04-04 13:35] chmorgan commented on #92
Hi @nono3551. I can appreciate that. How would someone covert that packet
back into binary? If that isn’t something that can be turned into binary
can you attach a .pcap containing just that packet? Then we would be able
to attempt to reproduce the issue.

Chris

On Thu, Apr 4, 2019 at 9:31 AM nono3551 <notifications@github.com> wrote:

[2019-04-04 13:58] nono3551 commented on #92
This code snippet should crash application. I Also added pcap file from wireshark.

string xww ="33 33 00 00 00 FB E8 8D 28 56 2B 60 86 DD 60 00 00 00 04 D8 2C FF FE 80 00 00 00 00 00 00 EA 8D 28 FF FE 56 2B 60 FF 02 00 00 00 00 00 00 00 00 00 00 00 00 00 FB 11 00 00 01 34 A8 58 D3 14 E9 14 E9 05 B0 48 49 00 00 84 00 00 00 00 1E 00 00 00 01 01 32 01 31 03 31 36 38 03 31 39 32 07 69 6E 2D 61 64 64

[2019-04-04 14:12] chmorgan commented on #92
Great, that should help us reproduce!

On Thu, Apr 4, 2019 at 9:58 AM nono3551 <notifications@github.com> wrote:

[2019-04-16 18:13] #92 closed

[2019-04-16 18:13] Phyxion commented on #92
This is not a valid IPv6 packet (Wireshark is also warning about it with IPv6 payload length exceeds framing length). However, the IPv6 packet extension headers implemented were't working correctly and this should be at least parsable. I'm running into this myself as well and have already addressed it (IPv6 parsing is also broken due to invalid header length). I'll commit a fix soon along with som

[2019-05-16 09:53] sgf opened #94 "SCTP support request"
was the any plan support SCTP ?

[2019-05-16 09:55] Phyxion commented on #94
Not at the moment, if you would like this added then you can always submit a PR for that.

[2019-05-16 09:57] sgf commented on #94
I am trying , but I don't have much experience, so progress is too slow

[2019-05-16 10:01] sgf commented on #94
i found some thing maybe help.
OPN (Open Protocol Notation) files from Microsoft's Message Analyzer.
https://github.com/rysavy-ondrej/Netfox.Opn
not c# code but the OPN  is base C#

[2019-05-31 12:25] chmorgan opened #95 ".net core binary serialization fails"
I'm working to convert the tests from a .net framework target to .net core so it is compatible with windows, Mac, and linux again without using mono. Binary serialization is a lot different in .net core, see https://github.com/dotnet/corefx/issues/23213 and when running as a .net core executable there are several failures like:

[code]

 should we drop these tests? What is the benefit/purpose of k

[2019-05-31 13:18] Phyxion commented on #95
It seems Lazy isn't serializable anymore in .NET Core. I'm not sure how useful `[Serializable]` is in the library itself though (which should then be removed from everything), as I think you only want to save the underlying byte array (which can be used to reconstruct the packets again anyway).

[2019-05-31 13:43] chmorgan commented on #95
So should we remove the seralization tests because we are already testing
going from class to bytes to class?

Chris

On Fri, May 31, 2019 at 9:18 AM Phyxion <notifications@github.com> wrote:

[2019-05-31 14:36] Phyxion commented on #95
I was thinking about removing serialization tests and also the `Serializable` attribute from all classes in main project. I don't really see a good use case for that as the properties are based on byte array anyway and all you really need is to serialize is that. The only exception to the removal of all `Serializable` attributes is perhaps the `ByteArraySegment` as I can see the benefit of saving

[2019-05-31 16:14] chmorgan commented on #95
I don’t understand the consequence of dropping that attribute. I’ll keep it
but remove the tests only for now.

Did you want to do that? Otherwise I’ll do that tonight to unblock the
conversion to .net core I have almost completed.

Chris

On Fri, May 31, 2019 at 10:36 AM Phyxion <notifications@github.com> wrote:

[2019-05-31 16:54] Phyxion commented on #95
The tests are OK. Lazy just isn't serializable in .NET Core, which means that the packet serialization isn't going to work either (for the same reason). I think removing the Serializable attribute would be OK, I don't think many will use it as you're much better of serializing the ByteArraySegment or the underlying array.

The downside of simply removing all binary serialization tests is that most

[2019-05-31 16:56] chmorgan commented on #95
Ahh ok. I can take a look at that. There are 13 failing which likely means
several hours of work. I should be able to get to it this weekend. Have
some other packetnet work held up by this and I’d prefer to be able to work
on Mac, which doesn’t have good support for .net framework.

Chris

On Fri, May 31, 2019 at 12:54 PM Phyxion <notifications@github.com> wrote:

[2019-06-01 00:56] chmorgan commented on #95
@Phyxion I took a look and didn't see anything that made sense to preserve. I did have one question. You flagged Echo as obsolete. Should we drop support for that option from TcpPacket.cs? Otherwise there are warnings printed during the compile. Thoughts?

[2019-06-01 11:08] Phyxion commented on #95
The Echo was already flagged as Obsolete. I've not removed it yet because while RFC states it's obsolete, I'm not sure if it needs to be removed from the library. Perhaps it would be better to drop the Obsolete attribute instead. Also created PR #96 for these changes so it's easier to keep track on and allow AppVeyor to show results :)

[2019-06-05 08:15] #95 closed

[2019-07-13 02:53] Tra5is opened #102 "Why no code signing?"
Using this lib in a signed assembly generates the warning:
[code]
Is there a specific reason for not using signing?

[2019-07-13 15:08] chmorgan commented on #102
Hi @Tra5is!

How does code signing work? Do we need a certificate of some kind? Do we enable it through appveyor?

Chris

[2019-07-13 22:50] Tra5is commented on #102
This looks like a pretty thorough walkthrough - https://natemcmaster.com/blog/2018/07/02/code-signing/

But I'm not sure that the Azure Key Vault is really needed if using an encrypted PFX. The password for the PFX would go into an appveyor secret and used during the code signing step.

It looks like you'll need a cert that's trusted by MS, and will cost some $$.

[2019-07-14 01:17] chmorgan commented on #102
Hi @Tra5is. Yeah it looks like the certs are hundreds yearly. I'd be happy for the funding to purchase and maintain such a key but this is an open source project so there isn't much motivation to do so at this point :-)

[2019-07-19 19:33] krs43 opened #103 "Disable UDP Packet Payload Parsing"
We've run in to cases where we are getting sent proprietary UDP packets on the same port used by L2TP (1701). The result is that the UdpPacket intercepts the raw bytes and instead attempts to parse them as an L2tp Packet. We need a way to disable automatic Udp PayloadPacket (force payload data). Is there a way to do this already? I am working on a custom build that just disables this, but would be

[2019-07-19 20:27] chmorgan commented on #103
Hmm.

I’d be interested in ideas for adding such an option or alternate api. How
far down the chain are you looking to parse before stopping? How can we
make it usable by others to stop at intermediate levels, that might be the
biggest open question in my mind.

Chris

On Fri, Jul 19, 2019 at 3:33 PM krs43 <notifications@github.com> wrote:

[2019-07-19 20:36] krs43 commented on #103
I agree - alternatively, we could set payload data even if we set payload packet. That way if it keeps parsing down the line, when I extract UDPPacket, I can still get the payload data and parse with our own protocol

[2019-07-19 23:04] chmorgan commented on #103
@krs43 can you try using the parent packet's HeaderDataSegment? For example:

var headerDataSegment = parentPacket.HeaderDataSegment;
var payloadByteArraySegment = header.NextSegment();

This almost calls for a new method or property in Packet like:

public ByteArraySegment PayloadRaw() // or something like this. We already have PayloadData and PayloadDataSegment but these require that the payload

[2019-07-20 00:16] krs43 commented on #103
I'll take a look at that - clever way of getting the next payload segment.

I think a PayloadRaw call would be great - fits with the lazy evaluation as once you have the parent frame you need, you know you can get the raw bytes and feed into custom parsers.

[2019-07-20 00:49] chmorgan commented on #103
@krs43 let me know if it works for you, if so that's a good test case for a future property.

[2019-07-20 04:34] Phyxion commented on #103
This is pretty much already possible. Just don't call the payload properties and it won't be parsed. If you need the payload data you can manually construct the payload segment based on the header indeed.

If you don't want to construct another segment you can also reuse Header and iterate it past its own size until the end. You could create an extension method for that for convenience. I'm using

[2019-07-20 12:14] chmorgan commented on #103
@Phyxion thoughts on what that helper method might look like? Similar to the one we use to extract types?

[2019-07-21 06:04] krs43 commented on #103
It appears that it would work, except I pass around a handle to the UdpPacket type everywhere, so each method is recalculating the segment. I'll wrap this for now, but the PayloadRaw api would be great.

[2019-07-21 11:58] Phyxion commented on #103
The segment is already very lightweight to construct. If you really need to then you could add a little wrapper around it to cache the segment, although I don't think you're really going to notice the difference. Furthermore, you could also use the HeaderSegment as mentioned above and add a few extension methods.
On Jul 21, 2019, at 08:04, krs43 <notifications@github.com<mailto:notifications@githu

[2019-09-14 00:32] chmorgan commented on #103
@Phyxion any more details on how we can address the concern to enable the behavior @krs43 is looking for?

[2019-09-14 00:32] chmorgan commented on #102
No one wants to pay for a cert to sign the library so closing this ticket out.

[2019-09-14 10:22] Phyxion commented on #103
I stand by my previous comment on this matter 😉

[2019-09-14 10:32] Phyxion commented on #102
Reopening, I don't think you actually need to purchase a certificate. All that's required is a snk file which you can generate yourself for free. https://docs.microsoft.com/en-us/dotnet/standard/assembly/sign-strong-name There are several projects that just have this snk file commited in repository. I think we can do the same.

[2019-09-14 13:15] chmorgan commented on #103
You mentioned an extension method? It would be a cool feature to make it
easier for users without having to understand the details of internals.

On Sat, Sep 14, 2019 at 6:22 AM Phyxion <notifications@github.com> wrote:

[2019-09-14 15:25] Phyxion commented on #103
I meant for him to create an extension method. I'm not against adding a property to get the raw payload though, but I would like to avoid an additional field for it as it would need to be allocated for each arriving packet and this is a rather limited use case. It's also already possible to use the parsed packet and then access the `BytesSegment` which is the data of the packet and any payload.

[2019-11-03 19:52] ZbynekZ opened #104 "Data corruption when reading PCAP file, probably related to IPv6 fragment header"
I get corrupted data when reading a PCAP file that contains a packet with IPv6 fragment header.

Repro code:

[code]

PCAP file (zipped) - it has just one packet in it:
[test2.zip](https://github.com/chmorgan/packetnet/files/3802034/test2.zip)

As it can be verified e.g. in Wireshark or by viewing the PCAP file in hex editor, there should be zeros in two bytes close to the beginning of this 2nd fr

[2019-11-04 13:23] Phyxion commented on #104
The first problem is that the extension headers (including a fragment header) are not added to bytes at all because it's not seen as a header or payload. These should've be added to the header (as extension headers are of course part of the header). The next problem is that several bytes are being overriden, namely the bytes at index 67, 68, 75 and 76. This happens because the captured packet was

[2019-11-04 13:25] #104 closed

[2019-11-04 13:46] ZbynekZ commented on #104
That looks great - thank you.
Will there be a new version of the NuGet package published? Because that's what I and my users depend on...

[2019-11-04 13:48] Phyxion commented on #104
Yes, might do #102 before NuGet push though, so please give it a try first.

[2019-11-04 13:59] ZbynekZ commented on #102
Be aware that strong naming the assembly prevents the possibility to "swap in" API-compatible newer versions of the assembly into the larger systems - but making that possible is required by the LPGL. Effectively, .NET strong naming is incompatible with LPGL.

[2019-11-04 14:00] ZbynekZ commented on #104
Understood - no hurry - but see my comment in #102 too.

[2019-11-04 14:23] Phyxion commented on #102
The key file can be added to the repository (it doesn't need to be kept a secret). Quite a lot of packages do that nowadays, this way it should also be possible to create builds manually (as a drop-in replacement).

[2019-11-04 15:45] ZbynekZ commented on #102
But the licensing problem remains even when the key file is public. Whenever somebody references an assembly that is strong named, that assembly file cannot be exchanged for a new version of it (unless you want to keep the version number always the same) - when you attempt to do so, the assembly will reject to load. This means that you cannot swap in a newer version, even when signed with the same

[2019-11-04 16:12] Phyxion commented on #102
The version number issue also exists without a public key; if you reference an unsigned assembly with version x.x.x.x and then copy unsigned x.x.x.y in then you'll need to use assembly redirection. You can also redirect assemblies with a publicKeyToken, it would only break cases when you're currently having binding redirects defined for non-signed and then start using the signed version, but that'

[2019-11-04 17:11] ZbynekZ commented on #102
Oh... you are right. It is not possible to redirect to an assembly signed with a different key, but it is possible to redirect to a different version of that assembly - when the same key is used for signing. My fault.

[2019-11-05 10:55] #102 closed

[2019-11-05 21:31] charles-n2netsec opened #105 "TargetFramework vs TargetFrameworks in csproj files"
The proper tag is TargetFramework not TargetFrameworks. Until that tag is changed, the "Target Framework" box on the "Application" tab in the project properties will be greyed out.

[2019-11-06 09:51] Phyxion commented on #105
No, this is OK, check MSDN.

[2019-11-06 09:51] #105 closed

[2019-12-28 20:09] chmorgan commented on #103
@krs43 if you were able to create and propose an extension method for raw packet handling it looks like it would make sense to integrate that into the library. Let me know if you plan to do so and need help with anything.

[2019-12-31 08:28] krs43 commented on #103
@chmorgan I never did re-wrap it as an extension method - just worked around it with a custom fork. Let me know if you end up wrapping this as an extension method, or adding a rawapi, would be great!

[2020-01-20 10:01] Phyxion commented on #103
Keep in mind that if you fork it you need to make the source available for LGPL. Not that it's really necessary as explained above; getting the payload is trivial with HeaderSegment and not calling the Payload properties doesn't create them.

It would be nice if Packet.Net would be relicensed under MIT, this is much more flexible as almost everything is MIT now. What do you think @chmorgan?

[2020-01-21 01:25] chmorgan commented on #103
@Phyxion part of the reason its lgpl is to allow companies to use the library but also to make it clear changes have to be contributed back. Any change contributed back via MIT would also be permitted under lgpl but the opposite might not necessarily be the case. It's worth considering of course but I'd like to hear a bit more about the benefits in the change.

[2020-01-21 10:11] Phyxion commented on #103
That's certainly true, but it can also hinder it as many developers won't use it because of the license and its restrictions. There are so many libraries with MIT that have a ton of contributors, simply because it's easier to use the library directly rather than maintaining a fork of it. A middle ground would be the Apache 2.0 license, that gives more freedom to the users of the library but change

[2020-02-03 21:40] radioegor146 opened #106 "Failed to check checksum of TcpPacket"
The call to `TcpPacket.IsValidChecksum` lead to that exception:
[code]
I can't give the packet that caused that issue, because it happend on production where we do not collect all packets.

[2020-02-03 21:44] radioegor146 opened #107 "Strange exception at the end of method"
[code]

The exception was at the end of one async function that even doesn't call `ActualBytes`. I can't give the packet that caused that issue, because it happend on production where we do not collect all packets.

[2020-02-03 23:05] chmorgan commented on #107
Possible to catch the exception and store the offending packet to disk?
That might be the only way for us to fix this and the other issue you
reported.

Regards,
Chris

On Mon, Feb 3, 2020 at 4:44 PM Egor Koleda <notifications@github.com> wrote:

[2020-02-03 23:31] radioegor146 commented on #107
Ok, I'll try my best to catch bad packets.

[2020-02-04 13:19] Phyxion commented on #107
This most likely is a corrupted packet, but without the actual packet it's not really possible to check any further.

[2020-02-04 14:35] radioegor146 commented on #107
Well, it was a corrupted packet, thanks.

[2020-02-04 14:35] #107 closed

[2020-02-04 14:36] radioegor146 commented on #106
Well, as it happened - it was a corrupted (trimmed) packet. But probably it'll better if somebody could add bound checks due to the fact that this exception cannot be caught.

[2020-02-04 14:44] Phyxion commented on #106
Perhaps just for `IsValidChecksum` it's possible to add a check if it's within the bounds. I'd rather not reduce performance for calculating all checksums (a check was there before that throwed, but this costed more time than calculating the actual checksum). I'll think about this.
FWIW, you can avoid most of these problems by allocating enough space while reading packets, ensure packets have at l

[2020-03-10 09:26] #106 closed

[2020-08-05 12:21] PhyxionNL opened #110 "Switch symbols to snupkg"
See https://github.com/appveyor/ci/issues/2753 and https://help.appveyor.com/discussions/problems/27680-deployment-issue-nuget.

[2020-08-05 12:22] Phyxion commented on #110
Not sure if anything needs to be flipped in AppVeyor for this, so probably best for @chmorgan to do.

[2020-08-15 19:04] chmorgan opened #112 "Can we drop .netframework 4.5 now?"
Hello @Phyxion. I can't recall why we are releasing for .netframework 4.5 at this point. Thoughts on dropping that and targeting .net core 2.0 only?

[2020-08-15 19:49] Phyxion commented on #112
.NET 4.5.2 is still supported and it's rather likely some applications are still on that. I also don't really see a reason to drop it at the moment  as nothing is blocked because of supporting it.

[2020-08-15 19:59] chmorgan commented on #112
@Phyxion hmm. I'm trying to get away from appveyor as its been a huge sink of my time getting things working from the .yml file and move to GitHub. Let me see if github's ci system can add the .netframework dependencies required to build, maybe by installing mono.

[2020-08-15 20:11] Phyxion commented on #112
That should be possible, I think you can use windows-latest. I found a guide here if it helps:
https://timheuer.com/blog/building-net-framework-apps-using-github-actions/

Moving away from AppVeyor sounds like a good idea though, it's such a mess to configure. I'd like to keep the existing configuration on NuGet, i.e. .NET Framework 4.5.2 and .NET Standard 2.0, then pretty much every platform is s

[2020-08-15 20:13] chmorgan commented on #112
k, I think that could work

[2020-08-15 20:15] Phyxion commented on #112
Some other examples here, might be a good starting point:
https://github.com/search?p=1&q=windows-latest+nuget&type=Code

[2020-08-20 00:44] chmorgan commented on #112
Looks like things are working with the GitHub path.

[2020-08-20 00:44] #112 closed

[2020-08-20 00:50] chmorgan commented on #110
Hmm. What is a snupkg? If anyone wants to propose a GitHub workspace file change I'll look at merging it. I saw some points about GitHub not support snupkg yet though.

[2020-08-20 09:14] Phyxion commented on #110
It's a normal NuGet package with symbols. Now that AppVeyor is gone it might not be needed anymore.
<IncludeSymbols>true</IncludeSymbols> will probably be enough.

[2020-08-20 23:55] chmorgan commented on #110
Where do we set that? I don't see any options and can't find a mention of IncludeSymbols text in any files.

[2020-09-11 01:00] rlebeau opened #113 "EthernetPacket.ParseNextSegment() does not recognize 802.1ad VLAN tag"
An 802.1ad (`EthernetPacketType.ProviderBridging`) VLAN tag is just an 802.1Q (`EthernetPacketType.VLanTaggedFrame`) VLAN tag with a `TPID` value of 0x88a8 rather than 0x8100.

When `EthernetPacket.ParseNextSegment()` is parsing the Ethernet payload data to set the `PayloadPacket` property, it creates an `Ieee8021QPacket` object for an 802.1Q tag, but not for an 802.1ad tag, thus the `PayloadPacke

[2020-09-20 21:54] chmorgan commented on #113
HI @rlebeau. Thank you for reporting the issue. I'm not sure anyone will pick up fixing this, however we do wish it were fixed. If you do end up fixing the issue in Packet.Net could you open a pull request with a test that fails and the code fix that corrects it?

[2020-10-06 09:30] enclave-alistair opened #114 "PacketDotNet LGPL Compatibility with Single File Deployments"
Hey,

Just wanted to ask a question about your thoughts on how PacketDotNet fits in with a [single file deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file)?

We're using PacketDotNet, and want to package our app as a single file, but we're aware that the LGPL for PacketDotNet requires the DLL for the library be swappable.

Do you have a position on this?

Thanks (and ap

[2020-10-06 09:37] PhyxionNL commented on #114
For .NET Core 3.x this is a bit of a gray area as it unpacks all files to a temporary folder and runs it from there (in which you can replace the DLL). In .NET 5.0 this no longer happens so that would likely be a violation of the license.

I have made some comments to move this library to Apache 2.0: https://github.com/chmorgan/packetnet/issues/103#issuecomment-576198419, but for now it seems as-i

[2020-10-06 10:04] enclave-alistair commented on #114
Ok, thanks @PhyxionNL. So the thinking is that we're OK until we migrate to .NET 5?  That was one of the things at the front of my mind, because as you say, all the assemblies are extracted in-memory in .NET 5.

[2020-10-06 14:37] chmorgan commented on #114
@enclave-alistair the intent is that PacketDotNet, and SharpPcap, can be used for commercial purposes and that commercial users are required by the license to distribute code improvements. This was born out of my own use of the libraries for commercial products.

Imo this seemed like a fair approach.

With .net 5.0 this doesn't appear to be compatible but I'd like to say that this is entirely a mi

[2020-10-06 14:39] chmorgan commented on #114
@PhyxionNL apache could be an option. I do like to be a bit more firm with the idea that you get these thousands of hours of improvements back, we'd really like you to contribute your fixes and improvements back. Again, whatever we do has to go with the .net ecosystem. It would be dumb for example to have LGPL for a golang module because go almost entirely builds single executable applications (un

[2020-10-06 14:50] PhyxionNL commented on #114
Yes, sharing back is certainly useful. That doesn't mean that projects with MIT/Apache have no contributions through. I think the preferred way is to keep stuff in the original package rather than maintaining thousands of forks. I think a license between Apache 2.0 and LGPL is MPL 2.0, but INAL and might be wrong about this:
https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software

[2020-10-06 15:45] enclave-alistair commented on #114
Thanks for the quick reply @chmorgan; I can imagine that 10 years ago proper single-file deployment was barely a glint in the eye of the .NET team! So the LGPL makes total sense until we come up against this wall.

The MPL looks fine to me, but basically any license you choose that works for you in terms of encouraging contribution back, and allows us to distribute the PacketDotNet binary in it's

[2020-10-07 14:07] chmorgan commented on #114
@enclave-alistair sounds good! @PhyxionNL you good with MPL here and SharpPcap (not sure if you've contributed there?)? If so I'll initiate emails to the largest contributors and start the process.

[2020-10-07 14:18] PhyxionNL commented on #114
Yeah, sounds good to me. I don't use SharpPcap and haven't contributed there.

[2020-11-19 09:05] PhyxionNL commented on #114
@chmorgan Can you start that? 👍

[2020-11-19 12:30] chmorgan commented on #114
Afaict it should be possible to replace the library inside of the single
file deployment package. Technically that deployment keeps the library and
extracts it at runtime no? Which means that while it may not be easy to do
you can still do it. Which means single file deployments are already lgpl
compatible.

Thoughts?

On Thu, Nov 19, 2020 at 4:05 AM PhyxionNL <notifications@github.com> wrote:

[2020-11-19 12:41] PhyxionNL commented on #114
.NET Core 3.x just unpacked everything into a folder, which you could easily replace, but that doesn't happen in .NET 5 anymore. It's not just a simple replacement anymore and you need to make some considerable changes as they're baked into the executable. Even if you place a library inside the executing folder, it won't pick it up:

   The probe ordering will be in the order (https://github.com/d

[2020-11-19 16:04] chmorgan commented on #114
Gotcha.

Imo not easy isn’t the same as not possible. Can we fairly say it’s
possible now, with difficulty, so we can unblock the earlier user asking
for compatibility while we consider or work on relicensing?

On Thu, Nov 19, 2020 at 7:42 AM PhyxionNL <notifications@github.com> wrote:

[2020-11-19 16:07] PhyxionNL commented on #114
Not unless you modify the application itself, which is a gray area and I do not think that would match with the license either.

[2020-11-21 16:22] chmorgan commented on #114
Alright. Let me send out the email to get things kicked off!

[2020-11-25 13:55] PhyxionNL commented on #114
@chmorgan I've not received an email yet, or did you skip me? 👍

[2020-11-25 14:19] chmorgan commented on #114
I skipped as you said you agreed already :-) I can copy you in if you feel
left out

On Wed, Nov 25, 2020 at 8:56 AM PhyxionNL <notifications@github.com> wrote:

[2020-11-25 14:22] PhyxionNL commented on #114
Ah, alright, no need, how is progress? Most contributors here (https://github.com/chmorgan/packetnet/graphs/contributors) seem trivial changes only.

[2020-11-29 13:29] badmadbug opened #115 "EthrnetPacket.PayloadPacket.ParentPacket is always null. Is that right?"
Hello?

When I try to parse udp like this:

In my thought, packet.PayloadPacket should be IPv4Packet, and packet.PayloadPacket.ParentPacket must be packet itself. Isn't it?
But, in my code, packet.PayloadPacket is IPv4Packet, but packet.PayloadPacket.ParentPacket is always null.

It is null even I try with ARP packet.

What should I do or check?

[2020-12-09 01:24] chmorgan opened #116 "Appveyor"
@PhyxionNL should we fix the appveyor build? Maybe we can just upgrade the visual studio version and it will be fixed? I can take a look.

[2020-12-09 01:26] chmorgan commented on #114
Looks like everyone has approved. Let me put together a pull request for the change in license.

[2020-12-09 08:59] PhyxionNL commented on #116
I think we can remove it, I do not see the need to run both AppVeyor and GitHub Actions.

[2020-12-09 09:06] PhyxionNL commented on #116
I had already removed this a while ago from README and repo, but I do not have access to 3rd party integrations so you'll need to make these changes.

[2020-12-18 13:38] lovejotd opened #118 "l2tp Packet is not pulling sessionID"
When I run analysis on a L2tp Packet, the session ID is showing up as 0, but when I open the same packet in wireshark, It shows the session ID as 4000?  Checking the Bytes, it also looks like it should be 4000.

[2020-12-18 13:40] lovejotd commented on #115
Is there a strong reason you want to do this?  Just not sure the rationale here.  I tested it as well, and see the same behavior that you see.

[2020-12-18 13:48] PhyxionNL commented on #115
Parent packet isn't passed down here:
https://github.com/chmorgan/packetnet/blob/2775ea7f8fef4edee445ef7087eaa04a3612c920/PacketDotNet/EthernetPacket.cs#L215
This can be improved I think, but I don't have time to look into this right now. Although the use case is probably limited, I suggest always passing down `EthernetPacket` or just the contained packet if you only need that.

[2020-12-18 13:50] PhyxionNL commented on #118
Probably a parsing error, if the bytes are correct you can take a look here and try to fix it (a test for this would be useful too):
https://github.com/chmorgan/packetnet/blob/2775ea7f8fef4edee445ef7087eaa04a3612c920/PacketDotNet/L2tpPacket.cs#L73

[2020-12-18 13:50] PhyxionNL commented on #114
Closing, is done now 👍

[2020-12-18 13:50] #114 closed

[2020-12-18 14:16] lovejotd commented on #118
I can add a test for it, Doesn't seem as though I have permissions to create a branch

[2020-12-18 14:17] PhyxionNL commented on #118
You don't, but you can create a fork and then submit a PR 🙂

[2020-12-18 14:41] lovejotd commented on #118
Sorry this is my first time... Not sure if I am testing the way you guys are, cause my test is different, I uploaded a PR of my test, Let me know what you think

[2020-12-18 15:08] enclave-marc-barry commented on #114
Thanks all 👍

[2020-12-18 19:15] twa89 opened #120 "Recent memory managment changes do not work with large capture files"
When I upgraded from sharppcap 5.1 to 5.3 a new version of PacketDotNet also came with the upgrade.  Now when I parse large wireshark files, ones larger than 1.6 GB, packetDotNet crashes every time with outOfMemory exceptions.

If I rollback to SharpPcap 5.1 it works perfectly, even capture files over 6 GB in size.

[2020-12-20 19:16] badmadbug commented on #115
For example, when I work with UdpPacket, I will create List<UdpPacket>. I don't want create List<Packet>, because Packet.Extract<UdpPacket>() must be used whenever I need to access UdpPacket.

In this situation, UdpPacket.ParentPacket and/or UdpPacket.ParentPacket.ParentPacket is null. So I cannot get IpPacket or EthernetPacket from UdpPacket to find source ip or mac address.

[2020-12-21 14:14] PhyxionNL commented on #120
This needs to be opened in Sharpcap.

[2020-12-21 14:14] #120 closed

[2021-01-05 01:32] chmorgan commented on #120
@PhyxionNL any thoughts what might be causing the issue? Nothing comes to mind as a change that would result in this issue.

[2021-01-05 10:36] PhyxionNL commented on #120
I have no idea, I do not use SharpPcap myself. Without some example files from @twa89 it might be hard to pinpoint the problem.

[2021-01-06 01:14] chmorgan commented on #118
@lovejotd wasn't sure if you saw my comment on your PR. I'd like to look at the packet you captured in Wireshark and look at the test results. Do you have that .pcap file still? If so can you upload it here?

[2021-01-06 02:14] lovejotd commented on #118
@chmorgan No problem, Yes I still have it.  I got it from a test capture site - https://packetlife.net/captures/protocol/l2tp/

You can download it here - https://packetlife.net/media/captures/icmp_in_l2tpv3.cap

Let me know if you have any questions

[2021-01-06 02:58] chmorgan commented on #118
@lovejotd alright, so after looking at that capture file and the l2tppacket dissector the issue is that there are multiple versions of l2tp packets. The one being tested is v2 but the one you are testing with is v3. From the RFCs it looks like the format of the packets differs.

I'm also not sure if the parser covers all of the cases for l2tp v2 packets either.

It might make sense to extend that

[2021-01-07 03:09] chmorgan commented on #118
@lovejotd @PhyxionNL as a heads up the current plan is to make a class that will create the appropriate version of the L2TP packet based upon the version field. Similar to how OspfPacket.ConstructPacket() works. Hope to have it wrapped up in a few days and a PR open.

[2021-01-30 09:09] PhyxionNL commented on #116
@chmorgan This still needs to be removed.

[2021-01-30 12:00] chmorgan commented on #116
I do like keeping more than one option open. We use several for sharppcap,
GitHub workflows, Travis, circleci, azure, and Appveyor. They all offer
slightly different oses and tools revs. If it becomes a big burden we can
back away from appveyor, in the latest case it only took a minute to update
from vs2017 to vs2019 for core 3.1 support. So I’m inclined to say we
should keep it for now.

On Sat,

[2021-01-30 12:36] PhyxionNL commented on #116
I do not think we need to keep it here, nothing is using it. AppVeyor is also a hell to configure, is currently not working, and causes PRs checks to go red.

[2021-02-17 17:15] syndrome5 opened #125 "Re-write for no reason"
Hello,

This specific line is annoying if we are setting an Ethernet Type out of the switch scope provided. We need to re-write the type after the PayloadPacket set. I think we can remove or set a warning message on debug that uncommon Ethernet type is used.

https://github.com/chmorgan/packetnet/blob/86e8aaaf59590cb6c81fe19c3ff350f79eebcdc5/PacketDotNet/EthernetPacket.cs#L153

Regards

[2021-02-17 17:19] PhyxionNL commented on #125
I think the default statement can be removed completely. If any payload is set that isn't known to the library then it's up for the user to set. Feel free to submit a PR for this.

[2021-02-17 17:33] #125 closed

[2021-02-24 07:45] GhostlyRaven opened #127 "IEquatable interface for package classes"
Hi. The question is, why don't all package classes implement the IEquatable interface or override the Equals and GetHashCode methods? But the toString method is overridden and returns the full representation of the entire package as a string. Why can't you do something similar for comparison methods? In my opinion, this would be useful. For example, when working with collections, this will elimina

[2021-03-03 02:51] lovejotd opened #128 "Information"
This is less of an issue and more a feature request possibly?  But I was wondering if there was a way to get the information column, similar to what you see in wireshark, from the pcap file?  Is this something we could easily add to this library?  or does anyone know how that is created?  Thanks!

[2021-04-01 01:19] chmorgan commented on #116
Appveyor removed, closing.

[2021-04-09 01:41] chmorgan commented on #128
@lovejotd can you post an image showing what you mean? We have colorized ToString() output today btw.

I added the ability to specify the verbosity to the capture example, can you see if one of these output modes provides something like what you are looking for?

https://github.com/chmorgan/packetnet/pull/129

[2021-04-09 01:45] chmorgan commented on #127
@GhostlyRaven I'm guessing we simply haven't run into the need to do so yet. Would you have any suggestion on which of the two options you proposed? What would the changes look like and require in terms of code?

[2021-04-09 08:39] GhostlyRaven commented on #127
@chmorgan In my opinion, the more correct option is to implement the IEquatable<T> interface for the abstract Package class in all derived package classes. In the code, you will need to implement the IEquatable<T> interface and follow the recommendations described in [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.iequatable-1?view=net-5.0). In the package class code, it will lo

[2021-04-09 08:42] PhyxionNL commented on #127
All the comparison needs is to do is compare the underlying byte segment.

[2021-04-09 09:08] GhostlyRaven commented on #127
@PhyxionNL I'm not sure what base segment you're talking about? Do you mean the ByteArraySegment class and the fields in packages of this type? If I'm right, could you please specify where exactly what you are talking about is located in the project code? For me, this will add more clarity about your offer.

[2021-04-09 09:14] PhyxionNL commented on #127
`ByteArraySegment` indeed, for `IEquatable` all that's required is to do a comparison of its contained data as all fields in the packet classes use that underneath.

[2021-04-09 09:56] GhostlyRaven commented on #127
@PhyxionNL tell me, does ByteArraySegment contain in its structure the content that we transmit over the network as a message or not? Just in my opinion, it is more correct to compare packages without the participation of content. If the content is not present in the structure or can be ignored, then you can implement all the packet comparison logic for the Packet base class by implementing the IE

[2021-04-09 12:06] PhyxionNL commented on #127
Yes, `ByteArraySegment` contains the bytes of the packet. It's not more correct to compare packets through the properties. In fact, it's less correct as not all data is always accessible through properties.

`ByteArraySegment` is close to a `Span<byte>` already, but has some useful features that Span doesn't have. A `Span` is stack-only, whereas `ByteArraySegment` can be used everywhere. It's actu

[2021-04-09 12:13] chmorgan commented on #127
I also spotted ArraySegment and it does look like it should be possible to swap one with the other. We do use some additional methods on BAS that would seem to require adding some extension methods, like NextSegment, but it certainly looks possible. I'm all for reusing common classes, how does it help to switch to ArraySegment beyond just reusing something that exists in .net now?

I was also inte

[2021-04-09 12:22] PhyxionNL commented on #127
Stack-only isn't really possible for PacketDotNet as it's used throughout the project differently. You can use `Memory<T>` instead, but `ByteArraySegment` is already well optimized so I doubt it'll make a lot of difference (the same applies to `ArraySegment`). There's also the downside that Span/Memory is .NET Core/5+ only.

[2021-04-09 13:04] GhostlyRaven commented on #127
@chmorgan and @PhyxionNL, thank you for explaining the device class `ByteArraySegment`. Now I can definitely correctly state my vision of comparing packages knowing all the missing details for me.
**In my opinion, the default packets should be compared without taking into account the payload (text, file, etc.) transmitted to them over the network. However, you can make two types of comparison: par

[2021-04-09 13:08] PhyxionNL commented on #127
With IEquatable you should compare all data (not partial, or both - which is not an option to pass in). If you have such a specific use case then you're better off implementing an extension method yourself.

[2021-04-09 13:27] GhostlyRaven commented on #127
I just suggested a concept that is not tied to a specific implementation. If you want, you can do the following instead of implementing IEquatable, you can implement several IEqualityComparer for the options I have proposed for collections. Then the package objects will not contain the comparison logic and will just store the information. This will allow you to create different types of comparison

[2021-04-10 00:29] chmorgan commented on #128
And those changes have landed on master as well. Let me know what you think.

[2021-04-15 23:57] chmorgan commented on #128
@lovejotd closing this one out as I think the updated capture example shows how to get more detailed packet information. Please reopen if you have suggestions or this isn't exactly what you are looking for.

[2021-04-15 23:57] #128 closed

[2021-04-20 22:30] Bart-Baekelandt opened #131 "GRE decoding not correct (wrong byte and false bitmask)"
The GRE protocol is not correctly parsed by the PacketNet library

in GrePacket.cs

original code :
public bool HasCheckSum => 8 == (Header.Bytes[Header.Offset + 1] & 0x8);
public bool HasKey => 2 == (Header.Bytes[Header.Offset + 1] & 0x2);
public bool HasReserved => 4 == (Header.Bytes[Header.Offset + 1] & 0x4);
public bool HasSequence => 1 == (Header.Bytes[Header.Offset + 1] & 0x1);

proposal for

[2021-04-21 10:24] PhyxionNL commented on #131
Can you submit a PR for this and a test @Bart-Baekelandt?

[2021-04-21 22:16] Bart-Baekelandt commented on #131
![gre_screenshot](https://user-images.githubusercontent.com/43503534/115627766-dd69f100-a2ff-11eb-9014-6873474d55d3.PNG)

See also decoding in Wireshark

[2021-06-03 20:13] trudyhood opened #133 "What is the difference between TotalPacketLength and TotalLength?"
It is very confusing, I wish it had little help or documents.

[2021-06-04 08:47] PhyxionNL commented on #133
TotalPacketLength = length of packet.
TotalLength is total length field of IPv4 packet, see: https://en.wikipedia.org/wiki/IPv4#/media/File:IPv4_Packet_-en.svg

[2021-06-04 08:47] #133 closed

[2021-06-18 19:44] lovejotd opened #134 "Overall Offset of Packet within File"
Is there anyway when I processing files, to know the offset of the current packet within the larger pcap file?  I am having a hard time figuring/finding it out, and it could be helpful for me.  Thanks!

[2021-06-22 12:51] PhyxionNL commented on #134
For pcap related stuff you need to ask here:
https://github.com/chmorgan/sharppcap

[2021-06-22 12:51] #134 closed

[2021-07-08 09:33] #127 closed

[2021-07-19 01:26] chmorgan commented on #110
@PhyxionNL I noticed nuget was saying a symbols package was pushed. Does this mean we are all set now and can close this issue out?

[2021-07-19 07:10] PhyxionNL commented on #110
Yeah, it's good now it seems 👍

[2021-07-19 07:10] #110 closed

[2021-08-26 03:46] johnwas opened #137 "how to create tcp packet with custom tcp options?"
I can create a tcp packet with class TcpPacket by using constructor:
            public TcpPacket(ushort sourcePort, ushort destinationPort)

But if I Change Property OptionsCollection, it will throw exception,  becouse the tcp header's  length is not big enough to hold the options.  Is this a bug or not implemented?

[2021-08-28 08:39] PhyxionNL commented on #137
You need to preallocate a buffer large enough to hold the data.

[2021-08-29 13:04] PhyxionNL commented on #131
Should be fixed now, so closing.

[2021-08-29 13:04] #131 closed

[2021-09-12 22:41] wsiscool opened #139 "IPSec Encapsulating Security Payload"
IP Header Protocol is 50(ESP), how to look ESP Info?

[2021-09-22 01:29] trudyhood opened #140 "IcmpV4Packet doesn't calculate its checksum"
I see IcmpV6Packet automatically calculate its checksum, but IcmpV4Packet doesn't do that. Is that normal?

[2021-09-22 04:51] trudyhood opened #141 "IPv6Packet UpdateCalculatedValues doesn't work"
IPv6 TotalLength & PayloadLength & aren't calculated properly. I looked at code and saw UpdateCalculatedValues was not overrided by IPv6Packet.

[code]
packetv6.TotalLength is expected 140 but it is 40
packetv6.PayloadLength is expected 100 but it is 0

[2021-09-22 05:23] trudyhood opened #142 "IcmpV6Packet buffer goes into header"
Maybe I don't know how to use IPv6! I really can't understand how does it work or maybe there are many bugs.

[code]
icmpPacket.HeaderData is 100 bytes!

[2021-09-22 08:04] PhyxionNL commented on #140
ICMPv6 shouldn't calculate it checksum either in UpdateCalculatedValues, it should have a separate method to update it just like all the other packets. I'll take this issue @chmorgan.

[2021-09-22 08:14] PhyxionNL commented on #141
The PayloadLength must be set manually after changing payload right now, but I think this behavior can be slightly improved.

[2021-09-22 08:18] PhyxionNL commented on #142
At the moment there's no header and payload separation for ICMPv6.

[2021-09-22 15:48] trudyhood commented on #140
So would you please add a utility method to calculate IcmpV6packet checksum?

[2021-09-27 08:25] jgaulon commented on #103
In my [PR 143](https://github.com/chmorgan/packetnet/pull/143), I have introduced 2 static mapping <port/type> lists for Udp Payload decoding (to mimic the wireshark decode as.. feature). By clearing this list before parsing the packets, you will disable the L2TP payload decoding.

[2021-10-01 12:42] PhyxionNL commented on #103
This is now possible with wring a custom decoder as per #144. Closing.

[2021-10-02 15:19] PhyxionNL opened #150 "sharppcap Windows tests fail"
@chmorgan Maybe you can look into this. I'm not using pcap stuff that much, but it works here locally. I'm also wondering whether it needs updating to npcap as winpcap isn't supported anymore.

[2021-10-02 18:56] kayoub5 commented on #150
winpcap still supported, some tests are disabled in CI if dependent on minimum libpcap version, what tests fail for you?

[2021-10-02 19:32] PhyxionNL commented on #150
On their site: WinPcap Has Ceased Development. We recommend Npcap.

 some tests are disabled in CI if dependent on minimum libpcap version, what tests fail for you?

All fail due to wcap DLL failure, see: https://github.com/chmorgan/packetnet/runs/3777064424?check_suite_focus=true

[2021-10-02 20:49] kayoub5 commented on #150
github actions Windows virtual environment is not compatible with winpcap or npcap, this is a CI limitation not a library limitation.

[2021-10-03 08:40] PhyxionNL commented on #150
Well, it used to work and weirdly, sometimes it still does: https://github.com/chmorgan/packetnet/runs/3777070826

[2021-10-03 09:08] kayoub5 commented on #150
could be that winpcap install silently failed.
wpcap not found means no winpcap was found in the system.
@chmorgan have an oem key for npcap, you may want to try try using that.

[2021-10-03 11:47] chmorgan commented on #150
Yeah I can look at pulling that installer script abs secret key over.
Inconsistent CI runs are such a time sink, if npcap resolves that would be
great.

On Sun, Oct 3, 2021 at 5:09 AM Ayoub Kaanich ***@***.***>
wrote:

[2021-11-10 12:28] maxlluky opened #156 "Udp checksum missing & UDP length calculated incorrectly"
Hello. I am programming a DHCP server with SharpPcap and PacketNet.

Therefore I create the UdpPacket with the following code.
`UdpPacket udpPacket = new UdpPacket(68, 67);`

As the next step I create the DhcpV4Packet. The ParentPacket is the UdpPacket.
`DhcpV4Packet dhcpv4Packet = new DhcpV4Packet(new ByteArraySegment(new byte[300]), udpPacket)`

The next step defines the DhcpV4Options and adds t

[2021-11-10 12:36] PhyxionNL commented on #156
You're better of making a DHCP server with a UdpClient :)

If you insist on going this route, you'll need to create a UdpPacket from a ByteArraySegment and set the corresponding fields and payloads. There's no "magic glue" that automatically sets everything (almost everything is based on the underlying data).

[2021-11-10 16:48] maxlluky commented on #156
Thanks for the quick reply. Issue can be closed :)

[2021-11-10 16:48] #156 closed

[2021-11-13 15:35] Bart-Baekelandt opened #157 "OSPF V2 packet with link-local signaling (LLS) data not handled correctly"
OSPF V2 packet with link-local signaling (LLS) data is not extracted correctly.
The length of the LLS data is not determined by the OSPF header but
by the IP header.

See RFC for this :
https://datatracker.ietf.org/doc/html/rfc5613#section-2

The problem is that when an OSPF V2 packet is extracted Extract<OspfV2Packet>()
then the length of the resulting packet does not include the LLS data.
This i

[2021-11-16 09:04] jgaulon commented on #94
is the support of RFC4960 enough? Do you have a pcap for reference?

[2021-11-16 09:48] PhyxionNL commented on #157
Feel free to submit a PR for this.

[2021-11-16 09:54] PhyxionNL opened #160 "Update NuGet"
- warn : All published packages should have license information specified. Learn more: https://aka.ms/deprecateLicenseUrl.
- Remove nuspec and switch to Package... properties so we don't have to change two versions.

[2021-12-21 16:24] lovejotd commented on #118
Was there any movement on this?  Thanks!

[2021-12-21 17:04] chmorgan commented on #118
@lovejotd I started working on it and got side-tracked due to far too many projects and no immediate use for this.

I can push my work in progress to a branch if you'd like to take a look. It's basically the same approach as we do with other parsers that have multiple versions, we check the version and instantiate the correct version class.

[2022-01-12 12:22] adamscross04 opened #166 "SSL Interception"
Hey guys, I've seen the following post https://github.com/dotpcap/sharppcap/issues/31 on the sharppcap repo regarding SSL interception.

I'm working on a project where I have access to server certificates and want to intercept HTTPS traffic for monitoring purposes; When getting the private key from an X509Certificate from the cert store, I'm constantly getting the error "the length of the data to

[2022-01-16 12:56] kayoub5 opened #167 "LinkLayers have wrong base type"
Currently the `LinkLayers` assumes that it is a single byte, and that max value is 255.

This is not right:
* PCAPNG allocates 2 bytes for the LinkType field https://www.ietf.org/staging/draft-tuexen-opsawg-pcapng-02.html#section_idb
* PCAP format allocates 4 bytes for it https://wiki.wireshark.org/Development/LibpcapFileFormat
* Link type values already reached 292 https://www.tcpdump.org/linktyp

[2022-01-18 15:29] PhyxionNL commented on #167
Let's follow IETF here and make it to 16 bit. Might be useful to update the link types then as well based on tcpdump / https://datatracker.ietf.org/doc/html/draft-ietf-opsawg-pcap#section-8.2

[2022-01-22 10:04] #167 closed

[2022-02-21 01:15] dozan0 opened #171 "Constructing Wifi Packets"
There is no example of creating wifi packets. I am trying to send udp packet from one wifi adapter to another without connecting to access point. Can you help

[2022-03-25 14:50] Ben3094 opened #174 "Add support to NDP"
Hello,
With IPv4 to IPv6 transition, PacketDotNet lost neighbor discovery using ARP. To correct that, why not add NDP (Neighbor Discovery Protocol) to PacketDotNet ?
Thank you in advance,
Best regards,

[2022-03-25 14:53] Ben3094 commented on #174
You can implement @maxlluky [Mantikor](https://github.com/maxlluky/Mantikor) version to speed up development.

[2022-04-15 13:53] alexhiggins732 commented on #150
Is this still open? https://github.com/dotpcap/packetnet/actions shows the last 4 build succeeded.

[2022-05-13 17:22] PhyxionNL opened #176 "Switch SDK to .NET 6.0"

[2022-05-13 17:39] #174 closed

[2022-05-13 17:39] PhyxionNL commented on #174
That "implementation" was pretty much nothing, but I have this added in #175.

[2022-05-13 17:43] Ben3094 commented on #174
Wow!
Thank you
😊👍

[2022-05-13 17:56] #140 closed

[2022-05-13 18:07] PhyxionNL commented on #116
@chmorgan Can you try again to remove AppVeyor? It's still here and it keeps failing 🤔
- Latest .NET SDK doesn't work.
- Too Many Requests. Too Many Requests.

[2022-05-13 18:07] #176 closed

[2022-05-13 18:08] PhyxionNL commented on #142
This is now separated into header and payload.

[2022-05-13 18:08] #142 closed

[2022-05-13 18:08] #137 closed

[2022-05-14 00:19] chmorgan commented on #116
hmm. let me look at that.

[2022-05-14 00:21] chmorgan commented on #116
How do you know that appveyor is failing? Are we getting emails from it? I see its still running somehow...

[2022-05-14 00:49] chmorgan commented on #116
alright, toggled off the packet net build setting. Let me know if you are still seeing failed builds from it.

[2022-05-14 08:35] PhyxionNL commented on #116
It's still running ☹

[2022-05-14 09:35] #160 closed

[2022-05-14 09:36] PhyxionNL commented on #150
Seems to work again, closing.

[2022-05-14 09:36] #150 closed

[2022-05-17 01:00] chmorgan commented on #116
alright, toggled off the 'tests' setting too. I could just delete it entirely...

[2022-05-17 08:38] PhyxionNL commented on #116
Deleting would probably be better, as it's still going.
[code]

[2022-05-17 09:56] kayoub5 commented on #116
Create an `appveyor.yml` with content
See https://www.appveyor.com/docs/appveyor-yml/
[code]

[2022-05-17 09:59] PhyxionNL commented on #116
I'd rather see it removed completely, GH Actions works fine, I don't see a need to run multiple CIs here, especially when AppVeyor never works reliably 🙂

[2022-05-21 17:22] wo80 opened #181 "log4net dependency in nuget package"
Hi.
The latest nuget packages (1.4.5, 1.4.6-pre) have a dependency on log4net. Is this intended? Looking at the [PacketDotNet.csproj](https://github.com/dotpcap/packetnet/blob/master/PacketDotNet/PacketDotNet.csproj#L35) project file, it seems a debug version was published by accident...

[2022-05-21 17:32] #181 closed

[2022-05-21 17:32] PhyxionNL commented on #181
I see, that's odd. It should build the release version:
https://github.com/dotpcap/packetnet/blob/master/.github/workflows/master.yml#L70

I've pushed a commit that hopefully addresses it :)

[2022-05-21 17:41] PhyxionNL commented on #181
It was because dotnet test was building the debug version, which caused a debug NuGet package to be generated as well. This'll be fixed in #183.

[2022-05-21 17:56] wo80 commented on #181
Thanks for the quick 1.4.6 release!

[2022-09-30 08:04] PhyxionNL opened #186 "CI woes"
@chmorgan
Can you:
- Create a new NuGet key, the current one has expired.
- Remove semaphore and appveyor (it's still there), or give me access to modify that 🙂.

[2022-09-30 20:07] chmorgan commented on #186
I’ll take a look at this tonight and make a new key and try to remove the
other CI systems. I think I’d have to add you as a user to semaphore and
appveyor if we went that route but it might not be an option for free
accounts.

On Fri, Sep 30, 2022 at 4:04 AM PhyxionNL ***@***.***> wrote:

[2022-10-01 01:08] chmorgan commented on #186
Alright, nuget keys have been updated across all projects.

[2022-10-01 01:14] chmorgan commented on #186
Alright, uninstalled circleci, travisci, semaphore, revoked permissions. Anything else to do?

[2022-10-01 14:49] PhyxionNL commented on #186
Thanks, testing it #187.

[2022-10-01 14:50] PhyxionNL commented on #186
AppVeyor is still running 🤔
continuous-integration/appveyor/branch — AppVeyor build succeeded
 continuous-integration/appveyor/pr — AppVeyor build succeeded

[2022-10-06 01:45] chmorgan commented on #186
@PhyxionNL alright, deleted the appveyor project, that should do it

[2022-10-06 12:31] chmorgan commented on #186
@PhyxionNL other projects in the same organization use appveyor still. It can be removed at that layer but it would take it out for all of the other projects.

[2022-10-06 12:32] chmorgan commented on #186
And maybe this happened before the internals of appveyor were updated? If you click on the link in #187 you'll go to a 'project not found' page on appveyor.

[2022-10-06 12:36] PhyxionNL commented on #186
Can't you remove it at settings/installations and/or settings/hooks page (in project settings)? It should be possible to separate as dotpcap has various others not used here.

[2022-10-06 12:38] chmorgan commented on #186
@PhyxionNL its not listed in the webhooks list for the repo. I don't see a settings/installations menu.

Not sure how/why its running.

[2022-10-18 22:56] Aegle1 opened #189 "Any chance for v1.4.7?"
Good to see nvgre and vxlan support in release package.

[2022-10-19 11:41] #186 closed

[2022-10-19 11:43] #189 closed

[2022-10-19 11:44] PhyxionNL commented on #189
Good idea, done!

[2022-10-26 22:09] chmorgan opened #193 "TLS decoding support"
Thoughts on how we might implement tls decoding like wireshark can perform? Can we reuse anything wireshark has done? Should we aim for a purely managed approach? Build on packetnet-connections?

[2022-10-27 07:23] Z0rdak opened #194 "Implementing Application Layer Packets"
Hey there,
I have found your repo while searching for an Implementation/Wrapper of pcap für .NET for a university project.

I am thinking about extending your work/contribute to your work by writing some Dissectors/Packets for some Application Layer Protocols. Namely, HTTP, MQTT and maybe OPC UA.

Before I start, I just want to make sure I know my way around in your code. So I was wondering what w

[2022-10-27 07:58] PhyxionNL commented on #194
That would be appreciated. The class you need to extend is [Packet](https://github.com/dotpcap/packetnet/blob/master/PacketDotNet/Packet.cs). TransportPacket is only for packets with a source/destination port.
There are no guidelines, but you might find this useful: https://github.com/dotpcap/packetnet/blob/master/ArchitectureNotes. Also checking some existing classes to see how they're structured